* {
  box-sizing: border-box;
}

:root {
  --color-black: #222;
  --color-white: #fff;
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --color-yellow: #f5c518;
  --font1: 20px;
  --font2: 16px;
  --font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--font-family);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.3s;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--color-white);
  transition: all 0.5s;
  /*
  background: -webkit-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
  background: -o-linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
  background: linear-gradient(top, #b3b3b0 0%, #e3e2dd 500px);
  background-color: #e3e2dd;
  background-repeat: no-repeat;
  */
  background-color: var(--primary-color);
}

.header,
.footer {
  padding: 15px;
  background-color: var(--secondary-color);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* HEADER */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 10px;
  background-color: var(--primary-color);
  font-size: 13px;
  color: var(--color-white);
  border-radius: 5px;
  line-height: 1;
}

.header__logo h1 {
  font-weight: 500;
  letter-spacing: -1px;
}

.header__search input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: var(--primary-color);
  color: var(--color-white);
}

.search::-webkit-search-cancel-button {
  height: 20px;
  width: 20px;
  position: relative;
  top: -3px;
  right: -5px;
  -webkit-appearance: none;
  background-image: url(/assets/svg/clear.svg);
}

.header__search input::placeholder {
  color: var(--color-white);
}

/* MAIN */

.movies__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 100px;
}

@keyframes slidein {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
  }

  to {
    max-height: 1000px;
    transform: scale(1);
    opacity: 1;
  }
}

.movies__list .card {
  /*
  animation-duration: 0.5s;
  animation-name: slidein;
  */
  display: grid;
  position: relative;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  border-radius: 5px;
  color: var(--color-black);
  overflow: hidden;
  background-color: var(--secondary-color);
  transition: all 0.3s;
}

.movies__list .card:after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(
    to top,
    transparent,
    #fff 15%,
    rgba(255, 255, 255, 0.5)
  );
  transition: 0.3s;
}

.movies__list .card:hover {
  transform: scale(1.1);
}

.movies__list .card:hover:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}

.movie .card__img {
  width: 100%;
  min-height: 420px;
  object-fit: cover;
}

.card .card__info-wrapper {
  min-height: 100px;
  padding: 20px 15px;
  color: var(--color-white);
  font-size: 20px;
  background-color: var(--secondary-color);
}

.card .card__info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.card .card__overview {
  display: none;
}

.card .card__title {
  font-size: 20px;
  font-weight: 400;
}

.card .card__rating {
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

.card .card__rating.green {
  color: lightgreen;
}

.card .card__rating.orange {
  color: orange;
}

.card .card__rating.red {
  color: red;
}

/*FOOTER*/

.footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .github-link {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
